# Ignore everything...
*

# Whitelist sync settings

# gitignore
!.gitignore
# sublime preferences and packages
!Preferences.sublime-settings
!Package Control.sublime-settings
# terminator configuration
!terminator/config
